.ActiveOption {
    color: Black;
    font-weight: bold;
    margin: 20px;
    font-size: 30px;
    text-decoration: none; 
  }
  
  .Option {
    color: Black;
    font-weight: bold;
    margin: 20px;
    font-size: 30px;
    text-decoration: none; 
   
  }
  
  
  
  
  
  
  
  